body {
    margin: 0;
    padding: 0;
}

.bottom {
    width: 100%;
    max-width: 480px;
    position: fixed;
    bottom: 0;
    border-top: solid 1px var(--adm-color-border);
    background-color: white;
}

.container {
    width: 100%;
    position: relative;
    top: 48px;
    height: calc(100vh - 96px);
    overflow-y: scroll;
}

.top {
    top: 0;
    position: fixed;
    background: white;
    max-width: 480px;
    width: 100%;
}